{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} | Lista Contatti {% endblock head_title %}

{% block content %}
<table>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Contenuto</th>
    </tr>
    {% for contatto in Contatti %}
        <tr>
            <td>{{contatto.nome}}</td>
            <td>{{contatto.cognome}}</td>
            <td>{{contatto.email}}</td>
            <td>{{contatto.contenuto}}</td>
        </tr>
            

    {% endfor %}
</table>
{% endblock content %}