<!DOCTYPE html>
{% extends "base.html"%}

{% block title %} {{ block.super }} | Index Voti {% endblock title %}

{%block content%}
    <ol>
        <li><a href="{% url 'index_root'%}">Torna a index root</a></li> 
        <li><a href="{% url 'voti:lista_materie'%}">Lista Materie</a></li> 
        <li><a href="{% url 'voti:lista_voti'%}">Voti studenti</a></li> 
        <li><a href="{% url 'voti:media_voti'%}">Media studenti</a></li> 
        <li><a href="{% url 'voti:voto_max_min'%}">Max min voti</a></li> 
    </ol>
{% endblock content %}